<div
	class="tab-pane fade show active"
	id="item"
	role="tabpanel"
	aria-labelledby="show-item"
>
	<div class="card shadow mb-4 mt-2">
		<div class="card-header py-3">
			<h6><%= title %></h6>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table
					class="table table-bordered"
					id="dataTable"
					width="100%"
					cellspacing="0"
				>
					<thead>
						<tr>
							<th>No</th>
							<th>Title</th>
							<th>Price</th>
							<th>Country</th>
							<th>City</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<% items.map((item, index)=>{ %>
						<tr>
							<td><%= index+1 %></td>
							<td><%= item.title %></td>
							<td>$<%= item.price %></td>
							<td><%= item.country %></td>
							<td><%= item.city %></td>
							<!-- <td>
								<img
									src="http://localhost:3000/<%= item.imageUrl %>"
									alt=""
									srcset=""
									width="70px"
									height="70px"
								/>
							</td> -->
							<td>
								<form
									action="/admin/item/<%= item._id %>?_method=DELETE"
									method="POST"
								>
									<a
										href="/admin/item/show-image/<%= item._id %>"
										class="btn btn-info btn-circle btn-sm"
										><i class="fas fa-image"></i
									></a>
									<a
										href="/admin/item/<%= item._id %>"
										type="button"
										class="btn btn-warning btn-circle btn-sm button-update"
										data-id="<%= item._id %>"
										data-name="<%= item.title %>"
										data-bank="<%= item.price %>"
										data-rekening="<%= item.country %>"
										><i class="fas fa-edit"></i
									></a>
									<button
										type="submit"
										href=""
										class="btn btn-danger btn-circle btn-sm"
									>
										<i class="fas fa-trash"></i>
									</button>
									<a href="#" class="btn btn-success btn-circle btn-sm"
										><i class="fas fa-plus"></i
									></a>
								</form>
							</td>
						</tr>
						<%})%>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
